<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aldev.moviecataloguemade.detail">

    <application>
        <activity
            android:name=".DetailMovieActivity"
            android:exported="false" />
    </application>

</manifest>